/*
#f96302 //orange home depot

*/

#root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
#grow {
  flex-grow: 1;
}

#logo {
  position: absolute;
  left: 20px;
}

#StoneTitle {
  color: #f96302;
  font-weight: bold;
  font-size: 33px;
}

#HomeTitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 33px;
}
#menuButton {
  position: absolute;
  right: 20px;
  color: #ffffff;
}
