#root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
#grow {
  flex-grow: 1;
}

#logo {
  position: absolute;
  left: 20px;
}

#StoneTitle {
  color: #f96302;
  font-weight: bold;
  font-size: 33px;
}

#HomeTitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 33px;
}
#menuButton {
  position: absolute;
  right: 20px;
  color: #ffffff;
}

.textField {
  background-color: #ffffff;
  background-position: center;
  margin-top: 5%;
  border-radius: 8px;
  width: 70%;

  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  text-indent: 5%;
}

.fieldStyle {
  position: relative;
  background-position: center;
  border-radius: 8px;
  width: 30vw;
  right: 2vw;
  margin-bottom: 15px;
  text-indent: 5%;
  padding-bottom: 4px;
}
.fieldStyle:hover {
  color: #009788;
}
@media only screen and (min-width: 380px) and (max-width: 850px) {
  .fieldStyle {
    width: 250px;
    right: 15px;
  }
}

label,
#textStyle {
  color: #9b9b9b !important;
}
underline-27,
#lineStyle {
  color: #ffffff;
}
/* input-46,
#lineStyle{
  color: #FFFFFF;
} */
.form__field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #009788;
}
@media only screen and (min-width: 400px) and (max-width: 550px) {
  #textfiled {
    height: 12vw;
  }
}
