.card {
  max-width: 25%;
}

.cardMedia {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cardContent {
  margin-top: -5.5%;
  margin-bottom: -5.5%;
  margin-left: -8%;
  margin-right: -8%;
}

.cardContent2 {
  border: 1px solid red;
}
