/*#26AB7A  -green hover color*/

.Img {
  text-align: center;
  background-image: url("https://cdn.discordapp.com/attachments/489154865344282625/508368921666256936/Office.png");
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 800px;
}

#loginSquare {
  background-color: rgba(38, 38, 38, 0.8);
  position: relative;
  float: right;
  border: 2px solid #f96302;
  height: 80%;
  width: 45%;
  margin-top: 8%;
  margin-bottom: 8%;
  margin-right: 5%;
  text-align: center;
  min-height: 550px;
  min-width: 380px;
}

#title {
  margin-top: 3%;
  text-align: center;
  font-size: 6em;
}

#Corner {
  color: #ffffff;
  font-family: "Cutive", serif;
  font-weight: bolder;
}

#Stone {
  color: #f96302;
  font-family: "Cutive", serif;
  font-weight: bolder;
}

#Login {
  background-color: #898989;
  color: #ffffff;
  width: 70%;
  height: 12%;
  font-size: 1.2em;
  margin-top: 5%;
  border-radius: 8px;
}

#HoverLogin {
  background-color: #26ab7a;
  color: #ffffff;
  width: 70%;
  height: 12%;
  font-size: 1.2em;
  margin-top: 5%;
  border-radius: 8px;
}

#error {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  display: inline-block;
  color: white;
  font-size: 18px;
}

@media only screen and (min-width: 1221px) {
  #loginSquare {
    min-height: 650px;
    max-height: 650px;
  }
}

@media only screen and (min-width: 951px) and (max-width: 1222px) {
  #loginSquare {
    float: left;
    margin-left: 20%;
    min-height: 425px;
    max-height: 450px;
  }
  #title {
    font-size: 4em;
  }
}

@media only screen and (min-width: 601px) and (max-width: 950px) {
  #loginSquare {
    float: left;
    margin-left: 20%;
    min-height: 425px;
    max-height: 430px;
  }
  #title {
    font-size: 4em;
  }
}

@media only screen and (min-width: 380px) and (max-width: 600px) {
  #loginSquare {
    height: 100%;
    float: left;
    margin-left: 2%;
    min-height: 425px;
    max-height: 430px;
  }

  #title {
    font-size: 4em;
  }
}
@media screen and (max-height: 1245px) {
  #scroll {
    max-height: 945px;
    min-width: 380px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
