.root {
  display: flex;
  color: white;
}

.drawerPaper {
  margin-top: 70px;
  max-height: 450px;
  width: 220px;
  position: fixed;
  white-space: nowrap;
  transition: all 0.2s linear;
}

.drawerPaperClose {
  width: 60px;
  transition: all 0.2s linear;
}

#listItemFirst {
  margin-top: -8px;
}

.listItem {
  height: 75px;
  color: white;
}

.listItemIcon {
  color: white;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .drawerPaperClose {
    width: 60px;
    transition: all 0.2s linear;
  }
}
